node-red robot.json
[
    {
        "id": "9937abf261414bf1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cba6dfae42efa95a",
        "type": "mqtt out",
        "z": "9937abf261414bf1",
        "name": "",
        "topic": "esp32/buttondepan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "65e825f4a7fc3d7e",
        "type": "mqtt out",
        "z": "9937abf261414bf1",
        "name": "",
        "topic": "esp32/buttonbelakang",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "42dde188e893f9a5",
        "type": "mqtt out",
        "z": "9937abf261414bf1",
        "name": "",
        "topic": "esp32/buttonkanan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "e46852b9d92b2e33",
        "type": "mqtt out",
        "z": "9937abf261414bf1",
        "name": "",
        "topic": "esp32/buttonkiri",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "5bf50ac584f1c938",
        "type": "ui_button",
        "z": "9937abf261414bf1",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button depan",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "cba6dfae42efa95a"
            ]
        ]
    },
    {
        "id": "462b2449353713c9",
        "type": "ui_button",
        "z": "9937abf261414bf1",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button belakang",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "65e825f4a7fc3d7e"
            ]
        ]
    },
    {
        "id": "9e58320518fe0473",
        "type": "ui_button",
        "z": "9937abf261414bf1",
        "name": "",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button kanan",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "42dde188e893f9a5"
            ]
        ]
    },
    {
        "id": "0af07e035af75ba7",
        "type": "ui_button",
        "z": "9937abf261414bf1",
        "name": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button kiri",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "e46852b9d92b2e33"
            ]
        ]
    },
    {
        "id": "5bf021e7d119a77b",
        "type": "mqtt in",
        "z": "9937abf261414bf1",
        "name": "",
        "topic": "esp32/notification",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "17c8ab2426788624"
            ]
        ]
    },
    {
        "id": "17c8ab2426788624",
        "type": "ui_toast",
        "z": "9937abf261414bf1",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "sampah penuh",
        "name": "",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]